.list-withIcon{
	@extend %reset-list;
	display: grid;
	gap: 1em;
	@include rmin(768){
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		&_3-2{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			.list-withIcon__item{
				&:first-child{
					grid-column: 1/ span 2;
					grid-row: 1;
				}
				&:nth-child(2){
					grid-column: 3/ span 2;
					grid-row: 1;
				}
				&:nth-child(3){
					grid-column: 5/ span 2;
					grid-row: 1;
				}
				&:nth-child(4){
					grid-column: 1/ span 3;
					grid-row: 2;
				}
				&:nth-child(5){
					grid-column: 4/ span 3;
					grid-row: 2;
				}
			}
		}
		&_2-3{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			.list-withIcon__item{
				&:first-child{
					grid-column: 1/ span 3;
					grid-row: 1;
				}
				&:nth-child(2){
					grid-column: 4/ span 3;
					grid-row: 1;
				}
				&:nth-child(3){
					grid-column: 1/ span 2;
					grid-row: 2;
				}
				&:nth-child(4){
					grid-column: 3/ span 2;
					grid-row: 2;
				}
				&:nth-child(5){
					grid-column: 5/ span 2;
					grid-row: 2;
				}
			}
		}
		&_3-3{
			grid-template-columns: 1fr 1fr 1fr;

		}
	}
	&__super{
		color: var(--color-accent);
		margin-top: 1em;
	}
	&__item{
		padding: 1em;
		text-align: center;
		border-radius: 0.4em;
		.section_dark &{
			border: 1px solid var(--color-main_light);
		}
		.section_light &{
			border: 1px solid var(--color-border_table-head);
			// box-shadow: 0 0 12px rgba(203, 198, 208, .5);
		}
		.section_white &{
			border: 1px solid var(--color-border_table-head);
			// box-shadow: 0 0 12px rgba(233, 229, 236, .5);
		}
	}
	&__icon{
		width: em(72,19);
		height: em(72,19);
		position: relative;
		margin: 1em auto 2em;
		// &::after{
		// 	content: '';
		// 	position: absolute;
		// 	width: calc(100% + 2em);
		// 	height: calc(100% + 2em);
		// 	top: -1em;
		// 	left: -1em;
		// 	border-radius: 0.4em;
		// 	box-shadow: inset 0 0 12px rgba(#a247d5, .1);
		// }
	}
	&__text{
		margin-top: 0.5em;
	}
}
.check-title-list{
	@extend %reset-list;
	p:first-of-type{
		margin-top: 0.3em;
	}
}
.list-withIcon-union{
	border-radius: 5px;
	padding: 3rem;
	margin-bottom: 3rem;
	text-align: center;
	.section_dark &{
		border: 1px solid var(--color-main_light);
	}
	.section_light &{
		border: 1px solid var(--color-border_table-head);
	}
	.section_white &{
		border: 1px solid var(--color-border_table-head);
	}
	li.list-withIcon__item{
		padding: 0;
		border-color: transparent;
		// text-align: left;
	}
	.list-withIcon__icon{
		// margin-left: 0;
	}
}



.dynamic-img{
	@include rmin(768){
		&__wrapper{
			position: relative;
			min-height: var(--minH, 40rem);
		}
		&__screen{
			position: absolute;
			width: 100%;
			height: calc(100% - 2em);
			top: 1em;
			max-width: none;
			margin: 0;
			img,
			img[width]{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: top var(--obj-y,0%) right var(--obj-x,0%);
			}
		}
	}
}


.simple-compare{
	&__title{
		&.elem-icon{
			padding-left: 1.5em;
		}
	}
	&__list{
		@extend %reset-list;
		margin-bottom: 2.5em;
		padding: 1em 2em;
		li{
			margin-bottom: 0.6em;
		}
	}
	&_pros{
		.simple-compare__title{
			&::before{
				top: 0;
			}
		}
		.simple-compare__list{
			background-color: rgba(#13B737,.1)
		}
	}
	&_cons{
		.simple-compare__title{
			&::before{
				top: 0.2em;
			}
		}
		.simple-compare__list{
			background-color: rgba(#FB5C41,.1)
		}
	}
	&_inline{
		.simple-compare__title{
			width: min-content;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.compare-column{
	display: flex;
    flex-flow: column wrap;
	.simple-compare__head{
		flex-shrink: 0;
		text-align: center;
		padding: 0.7em;
		background-color: var(--color-bg_dark);
		border-radius: 5px 5px 0 0;
		.section_dark &{
			background-color: var(--color-border);
		}
		.section_light &{
			background-color: var(--color-bg);
		}
	}
	.simple-compare__list{
		flex: 1;
	}
}
.separate-info{
	&_type1{
		background-color: var(--color-bg_dark);
		padding: .5em 2.5em;
		position: relative;
		border-radius: .2em;
		overflow: hidden;
		&::after{
			content: '';
			position: absolute;
			width: .5em;
			height: 100%;
			left: 0;
			top: 0;
			background-color: var(--color-accent);
		}
		&_2{
			&::after{
				content: none;
			}
		}
	}
}



.conclusion-offer{
	background-color: var(--color-bg);
	border-radius: .2em;
	padding: 2em;
	color: var(--color-text);
	&__title{

	}
	&__list{
		padding-left: 0;
	}
	&__btn{
		width: 100%;
	}
}

.img-container{
	display: flex;
	padding: 2rem;
	box-shadow: 0px 25px 25px rgba(41, 38, 43, 0.05);
	@include r(1023){
		flex-wrap: wrap;
	}
}
.img-sticky{
	position: sticky;
	top: 3rem;
}
.img-shadow{
	margin-bottom: 2rem;
	background: var(--color-bg);
	box-shadow: 0px 25px 25px rgba(41, 38, 43, 0.05);
	border-radius: 6px;
}
.js-scalable{
	position: relative;
	.scalable-icon__wrapper{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: inherit;
		color: var(--color-main_light);
		opacity: 0;
		transition: opacity .4s;
		&::after{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: inherit;
			z-index: 1;
			background-color: rgba(255,255,255,.5);
		}
		.scalable-icon{
			position: absolute;
			width: 2em;
			height: 2em;
			filter: drop-shadow(2px 6px 7px var(--color-main));
			top: 2em;
			right: 2em;
			z-index: 3;
		}
	}
	@media (hover: hover) {
		&:hover{
			cursor: pointer;
			.scalable-icon__wrapper{
				opacity: 1;
			}
		}
	}
}
