include ../components/tag
include ../components/simpleList
include ../components/figureImg
include ../components/iconWithTooltip
//- include ../components/stars
include ../components/header
include ../components/footer
//- include ../components/modal
include ../components/meta
include ../components/favicon
include ../components/lazyImgLoader
//- include ../components/breadcrumbs
//- include ../components/dayNight
//- include ../components/logoWrapper
include ../components/accordion
include ../components/formField
include ../components/blockWithIcon
//- include ../components/video
//- include ../components/banner
//- include ../components/lineIcons
include ../components/toTopBtn
//- include ../components/progressBar
//- include ../components/scrollspy
include ../components/fingertipsBlock
include ../components/contents
include ../components/timeline
include ../components/calculator
include ../components/postItem
include ../components/tableSim
include ../components/rangeSlider
include ../components/customSelect
