mixin dayNight()
	label.switch.js-btn-dayNight
		input.switch__input(type='checkbox' checked)
		span.switch__background
			span.switch__toggle
				span.switch__moon
			span.switch__stars
			span.switch__clouds
